<h2>Today's Statistics:</h2>

<table>
  <tr>
    <td>Cheapest $/Gal:</td>
    <td><%= link_to "Petromil 84", "#" %></td>
  </tr>
  <tr>
    <td>Best KM/Gal:</td>
    <td><%= link_to "Jose", "#" %></td>
  </tr>
  <tr>
    <td>Most Efficient Vehicle:</td>
    <td><%= link_to "Spark GT 2011", "#" %></td>
  </tr>
</table>

<h2>Latest Entries:</h2>

<table>
  <thead>
    <tr>
      <th>Gasolinera</th>
      <th>Fecha</th>
      <th>Kilometros</th>
      <th>Galones</th>
      <th>Costo</th>
      <th>Costo/Galon</th>
      <th>KM/Galon</th>
    </tr>
  </thead>
  <tr>
    <td>
      Petromil 84
    </td>
    <td>
      1-Oct-11
    </td>
    <td>
      40
    </td>
    <td>
      2.345
    </td>
    <td>
      23.578
    </td>
    <td>
      10.055
    </td>
    <td>
      17.058
    </td>
  </tr>
  <tr>
    <td>
      Terpel 76
    </td>
    <td>
      3-Oct-11
    </td>
    <td>
      30
    </td>
    <td>
      2.123
    </td>
    <td>
      22.544
    </td>
    <td>
      10.619
    </td>
    <td>
      14.131
    </td>
  </tr>
  <tr>
    <td>
      Esso 76
    </td>
    <td>
      5-Oct-11
    </td>
    <td>
      37
    </td>
    <td>
      2.432
    </td>
    <td>
      24.578
    </td>
    <td>
      10.106
    </td>
    <td>
      15.214
    </td>
  </tr>
  <tr>
    <td>
      Mobil 76
    </td>
    <td>
      7-Oct-11
    </td>
    <td>
      38
    </td>
    <td>
      2.045
    </td>
    <td>
      21.908
    </td>
    <td>
      10.713
    </td>
    <td>
      18.582
    </td>
  </tr>
  <tr>
    <td>
      Texaco 77
    </td>
    <td>
      13-Oct-11
    </td>
    <td>
      41
    </td>
    <td>
      2.122
    </td>
    <td>
      21.989
    </td>
    <td>
      10.362
    </td>
    <td>
      19.321
    </td>
  </tr>
  <tr>
    <td>
      Esso 76
    </td>
    <td>
      5-Oct-11
    </td>
    <td>
      38
    </td>
    <td>
      1.686
    </td>
    <td>
      24.229
    </td>
    <td>
      14.372
    </td>
    <td>
      22.792
    </td>
  </tr>
  <tr>
    <td>
      Terpel 76
    </td>
    <td>
      6-Oct-11
    </td>
    <td>
      44
    </td>
    <td>
      2.389
    </td>
    <td>
      21.172
    </td>
    <td>
      8.863
    </td>
    <td>
      18.347
    </td>
  </tr>
</table>

